.List {
    border: 1px solid #000000;
    border-radius: 8px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 1200px;
    margin-left: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 4px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none; /* Prevent interaction when hidden */
}



.List > div {
    font-size: 9px; /* Smaller font size */
    padding: 2px 4px; /* Reduced padding for compact spacing */
    cursor: pointer;
    background-color: #ffffff; /* Background color for each item */
    border-radius: 4px; /* Rounded corners for items */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
    margin-bottom: 1px; /* Reduced space between items */
}

.List > div:hover {
    background-color: #353333; /* Dark background on hover */
    color: #ffffff; /* White text color on hover for contrast */
}

.List > div:last-child {
    margin-bottom: 0; /* Remove bottom margin from the last item */
}

.List.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}